'.source.yaml':
  'editor':
    'commentStart': '# '
'.source.raml':
  'editor':
    'increaseIndentPattern': '^\\s*.*(:|-) ?(&\\w+)?(\\{[^}"\']*|\\([^)"\']*)?$'
    'decreaseIndentPattern': '^\\s+\\}$'
